body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1em 1fr;
  grid-gap: 10px;
  grid-template-areas:
  "header header"
  "video bestSellers"
  "form form";
}
  #header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #3cadf8;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
  grid-area: header;
}

#video{
  grid-area: video;
}

#bestSellers {
  grid-area: bestSellers;
}

#form {
  grid-area: form;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container div p {
  background-color: blueviolet;
  width: 250px;
  height: 300px;
}

#header-img {
  margin-right: 10px;
  margin-left: 10px;
  height: 50px;
}

/* @media (min-width: 300px){
  body{
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header"
      "video"
      "bestSellers"
      "form";
  }
} */

@media screen and (max-width: 600px) {
  #bestSellers {
    background-color: lightblue;
  }
}